.App {
  background-color: rgb(241, 222, 222);
  text-align: center;
 
  width: 100%; 
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Align to the top of the container */
  min-height: 100vh; /* Ensure the full height of the viewport is considered */
}
